version: '3.8'
services:
	web:
		build: .
		ports:
			- "8000:8000"
		volumes:
			- ./:/app
		depends_on:
			- redis
			- db
		environment:
			- DATABASE_URL=postgresql://postgres:password@db:5432/push
			- REDIS_URL=redis://redis:6379/0

	db:
		image: postgres:15
		environment:
			POSTGRES_DB: push
			POSTGRES_USER: postgres
			POSTGRES_PASSWORD: password
		ports:
			- "5432:5432"

	redis:
		image: redis:7
		ports:
			- "6379:6379"

